* {
    margin: 0;
    padding: 0;
    background-color: #fcd34d;
}
#table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

td, th {
    border: 1px solid #083344;
    text-align: center;
    padding: 8px;
}

#button-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
button, #submit {
    background-color: #92400e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 16px;
}
button:hover, #submit:hover {
    background-color: #65a30d;
}
#table-container {
    justify-content: center;
    padding-top: 10px;
}
form {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
::backdrop, dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
#dialog-container {
    top: 50%;
    left: 50%;
    position: absolute;
}
.dialog {
    position: relative;
    width: 600px;
    margin-left: 244px;
    height: 474px;
    margin-top: 85px;
}
text {
    font-size: 20px;
}
label {
  padding-right: 10px;
}
input[class=form] {
    padding: 12px 20px;
    border: 1px solid;
}
input:focus {
    background-color: #f7fee7;
}